<!doctype html>
<html>
<head>
    <title>Ratings</title>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>

<body>
    {% if 'user_id' in session %}

        <div>User ID: {{ session['user_id'] }}</div>
         <a href="/process_logout">Logout</a>


    {% endif %}

    Ratings
    <hr>
    <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% block body %}{% endblock %}
    {% block content %} put your content here {% endblock %}

<form>
</body>
</html>