{% extends 'base.html' %}

{% block content %}
<a href='/movies'>Back to Movies List </a>
<h1>  {{ title }} </h1>

<div> Release date: {{ released_at }} </div><br>

<a href={{ imdb_url }}>IMDB</a><br><br>


<!-- allows user rate movie/update rating when logged in -->
{% if 'user_id' in session %}
<h2> Rate the Movie: </h2>
<form action='/rate_movie' method='POST'>
    <label>1 💩 - 5 💯
    <input type='number' name='rating' min='1' max='5'></input></label>
    <input type='hidden' name='movie_id' value={{ movie_id }}></input>
    <input type='hidden' name='user_id' value={{ session['user_id']}} </input>
    <input type='submit' value='rate'></input>
</form>
{% endif %}

<p>Average rating: {{ average }}</p>
{% if prediction %}
    <p>We predict you will rate this movie {{ prediction }}.</p>
{% endif %}


<p><a href='/'>Go home!</a></p>

{% endblock %}